extends _layout

block sidebar
  nav
    each group in groups
      div.panel.panel-default
        div.panel-heading= group.description
        div.panel-body
          ul.nav.nav-pills.nav-stacked
            each methods, path in group.paths
              each call, method in methods
                li
                  a(href='#' + helpers.hashString(path + '|' + method))= call.summary
                    span.label(class='label-#{method}')
                      = method.toUpperCase()

block content
  h1.page-header= api.info.title
    if api.info.version
      = ' '
      small Version #{api.info.version}
  if api.info.description
    .api-description!= helpers.markdown(api.info.description)
  each group in groups
    h2= group.description
    each methods, path in group.paths
      each call, method in methods
        div.panel.panel-default(id=helpers.hashString(path + '|' + method))
          div.panel-heading
            h3= call.summary
            span.label(class='label-#{method}')
              = method.toUpperCase()
          div.panel-body
            if call.description
              != helpers.markdown(call.description)
            p
              strong= 'URL: '
              code= path
            if call.parameters
              hr
              .call-heading Parameters (* required)
              table.table
                thead
                  th Name
                  th Type
                  th Example
                  th Description
                tbody
                  each param in call.parameters
                    tr
                      td= param.name + (param.required ? '*' : (param.default ? ' (default: ' + param.default + ')' : ''))
                      td= _.capitalize(param.type)
                      td= param['x-example']
                      td!= param.description ? helpers.markdown(param.description) : ''
            if call.responses
              hr
              .call-heading Response messages
              table.table
                thead
                  th Status code
                  th Description
                tbody
                  each response, statusCode in call.responses
                    tr
                      td= statusCode
                      td= response.description
                    if response.schema
                      tr
                        td(colspan=2)
                          pre
                            code.json!= helpers.renderJson(helpers.buildExample(response.schema))
