extends _layout

block sidebar
  nav
    div(class='panel panel-default')
      div(class='panel-heading') API Calls
      div(class='panel-body')
        ul(class='nav nav-pills nav-stacked')
          each methods, path in api.paths
            each call, method in methods
              li
                a(href='#' + path + '|' + method)= call.summary
                  span(class='label label-#{method} pull-right')
                    = method.toUpperCase()

block content
  h1(class='page-header')= api.info.title
    if api.info.version
      = ' '
      small Version #{api.info.version}
  if api.info.description
    != markdown(api.info.description)
  each methods, path in api.paths
    each call, method in methods
      div(class='panel panel-default', id=path + '|' + method)
        div(class='panel-heading')
          h2= call.summary
          span(class='label label-#{method} pull-right')
            = method.toUpperCase()
        div(class='panel-body')
          if call.description
            != markdown(call.description)
          p
            strong= 'URL: '
            code= path
          if call.parameters
            hr
            h3 Parameters (* required)
            table(class='table')
              thead
                th Name
                th Type
                th Example
                th Description
              tbody
                each param in call.parameters
                  tr
                    td= param.name + (param.required ? '*' : (param.default ? ' (default: ' + param.default + ')' : ''))
                    td= _.capitalize(param.type)
                    td= param['x-example']
                    td!= param.description ? markdown(param.description) : ''
          if call.responses
            hr
            h3 Response messages
            table(class='table')
              thead
                th Status code
                th Description
              tbody
                each response, statusCode in call.responses
                  tr
                    td= statusCode
                    td= response.description
