extends _layout

block sidebar
  nav
    each group in groups
      div(class='panel panel-default')
        div(class='panel-heading')= group.description
        div(class='panel-body')
          ul(class='nav nav-pills nav-stacked')
            each methods, path in group.paths
              each call, method in methods
                li
                  a(href='#' + path + '|' + method)= call.summary
                    span(class='label label-#{method} pull-right')
                      = method.toUpperCase()

block content
  h1(class='page-header')= api.info.title
    if api.info.version
      = ' '
      small Version #{api.info.version}
  if api.info.description
    .api-description!= markdown(api.info.description)
  each group in groups
    h2= group.description
    each methods, path in group.paths
      each call, method in methods
        div(class='panel panel-default', id=path + '|' + method)
          div(class='panel-heading')
            h3= call.summary
            span(class='label label-#{method} pull-right')
              = method.toUpperCase()
          div(class='panel-body')
            if call.description
              != markdown(call.description)
            p
              strong= 'URL: '
              code= path
            if call.parameters
              hr
              strong Parameters (* required)
              table(class='table')
                thead
                  th Name
                  th Type
                  th Example
                  th Description
                tbody
                  each param in call.parameters
                    tr
                      td= param.name + (param.required ? '*' : (param.default ? ' (default: ' + param.default + ')' : ''))
                      td= _.capitalize(param.type)
                      td= param['x-example']
                      td!= param.description ? markdown(param.description) : ''
            if call.responses
              hr
              strong Response messages
              table(class='table')
                thead
                  th Status code
                  th Description
                tbody
                  each response, statusCode in call.responses
                    tr
                      td= statusCode
                      td= response.description
